<a href="https://colab.research.google.com/github/cemreefe/cmpe493-project/blob/main/gensim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gensim Doc2Vec

In [43]:
!pip3 install xmltodict

import os
import io   
import re
import json
import math
import pickle
import string
import tarfile
import xmltodict
import numpy as np
import pandas as pd

import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

Requirement already satisfied: xmltodict in /usr/local/lib/python3.6/dist-packages (0.12.0)

**Dataset download**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [71]:
def read_file(path):
  with open(path, 'r') as f:
    return f.read()

In [ ]:
if not os.path.exists('drive/MyDrive/CMPE/CMPE493'):
  os.makedirs('drive/MyDrive/CMPE/CMPE493')

In [ ]:
if not os.path.exists('drive/MyDrive/CMPE/CMPE493/topics-rnd5.xml'):
  !curl https://ir.nist.gov/covidSubmit/data/topics-rnd5.xml --output drive/MyDrive/CMPE/CMPE493/topics-rnd5.xml

if not os.path.exists('drive/MyDrive/CMPE/CMPE493/qrels-covid_d5_j0.5-5.txt'):
  !curl https://ir.nist.gov/covidSubmit/data/qrels-covid_d5_j0.5-5.txt --output drive/MyDrive/CMPE/CMPE493/qrels-covid_d5_j0.5-5.txt

if not os.path.exists('drive/MyDrive/CMPE/CMPE493/cord-19_2020-07-16.tar.gz'):
  !curl https://ai2-semanticscholar-cord-19.s3-us-west-2.amazonaws.com/historical_releases/cord-19_2020-07-16.tar.gz --output drive/MyDrive/CMPE/CMPE493/cord-19_2020-07-16.tar.gz

In [ ]:
if not os.path.exists('2020-07-16'):
  tar = tarfile.open('drive/MyDrive/CMPE/CMPE493/cord-19_2020-07-16.tar.gz', "r:gz")
  tar.extractall()
  tar.close()

**Using pandas dataframes to read and prepare the data**

In [49]:
df_metadata = pd.read_csv('2020-07-16/metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,5,6,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
# Delete unused data columns
del df_metadata['sha'], df_metadata['source_x'], df_metadata['doi'], df_metadata['pmcid'], df_metadata['pubmed_id'], df_metadata['license'], df_metadata['publish_time'], df_metadata['authors'], df_metadata['journal'], df_metadata['mag_id'], df_metadata['who_covidence_id'], df_metadata['arxiv_id'], df_metadata['pdf_json_files'], df_metadata['pmc_json_files'], df_metadata['url'], df_metadata['s2_id']

In [51]:
# Delete duplicate document entries
df_metadata.drop_duplicates(subset='cord_uid', keep='first', inplace=True)

In [52]:
df_metadata

        cord_uid  ...                                           abstract
0       ug7v899j  ...  OBJECTIVE: This retrospective chart review des...
1       02tnwd4m  ...  Inflammatory diseases of the respiratory tract...
2       ejv2xln0  ...  Surfactant protein-D (SP-D) participates in th...
3       2b73a28n  ...  Endothelin-1 (ET-1) is a 21 amino acid peptide...
4       9785vg6d  ...  Respiratory syncytial virus (RSV) and pneumoni...
...          ...  ...                                                ...
192504  z4ro6lmh  ...                                                NaN
192505  hi8k8wvb  ...  Abstract We report on an anomalous X-ray refle...
192506  ma3ndg41  ...  COVID‐19 pandemic raised the issue to guarante...
192507  wh10285j  ...                                                NaN
192508  pnl9th2c  ...                                                NaN

[191175 rows x 3 columns]

In [53]:
# Read relevances file
topic_relevances = 'topic iter document_id judgement\n' + read_file('drive/MyDrive/CMPE/CMPE493/qrels-covid_d5_j0.5-5.txt')

df_relevances = pd.read_csv(  io.StringIO(topic_relevances)  , sep=" ")
del df_relevances['iter']

df_relevances

       topic document_id  judgement
0          1    005b2j4b          2
1          1    00fmeepz          1
2          1    010vptx3          2
3          1    0194oljo          1
4          1    021q9884          1
...      ...         ...        ...
69313     50    zvop8bxh          2
69314     50    zwf26o63          1
69315     50    zwsvlnwe          0
69316     50    zxr01yln          1
69317     50    zz8wvos9          1

[69318 rows x 3 columns]

In [54]:
# Read topics file
topics_obj = xmltodict.parse(read_file('drive/MyDrive/CMPE/CMPE493/topics-rnd5.xml'))
topics     = json.loads(json.dumps(topics_obj))

# Query, question and narrative fields are concatenated
topics_dict = {}
for topic in topics['topics']['topic']:
  # a topic has the following fields:
  #  * @number
  #  * narrative
  #  * query
  #  * question
  topics_dict[topic['@number']] = topic['query'] + ' ' + topic['question'] + ' ' + topic['narrative']

# Data so far

* `topics_dict` 
      has `topic-id` for keys, and topic description for values
* `df_relevances` 
      has the following three columns:
      topic	document-id	judgement
* `df_metadata`
      holds information about the documents
      has the following three columns (others are deleted):
      cord_uid	title	abstract

In [55]:
# Download nltk English stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [56]:
# Title and abstracts of the documents are concatenated
docs = np.array(df_metadata)
contents = {}

for doc in docs:
  contents[doc[0]] = f'{doc[1]} {doc[2]}'

### `contents` is a dictionary with document id keys and f'{document title} {document content}' values.
```
document_id: f'{document_title} {document_content}'
```

In [57]:
porter_stemmer = PorterStemmer()
sw = stopwords.words('english')

# preprocessing
# case folding
# punctuation removal
# number deletion
# stemming & stopword removal
def preprocess(s):
  s = s.casefold()
  s = s.translate(str.maketrans(string.punctuation, ' ' * len(string.punctuation)))
  s = re.sub("\d+", "", s) #Delete numbers
  s = [porter_stemmer.stem(word) for word in s.split() if word not in sw and word != 'nan']
  return s

In [58]:
import gensim

# Create a gensim training corpus
def get_corpus():
  for i, (id, doc) in enumerate(contents.items()):
    tokens = preprocess(doc)
    yield gensim.models.doc2vec.TaggedDocument(tokens, [id])

train_corpus = list(get_corpus())

In [59]:
train_corpus[0]

TaggedDocument(words=['clinic', 'featur', 'cultur', 'proven', 'mycoplasma', 'pneumonia', 'infect', 'king', 'abdulaziz', 'univers', 'hospit', 'jeddah', 'saudi', 'arabia', 'object', 'retrospect', 'chart', 'review', 'describ', 'epidemiolog', 'clinic', 'featur', 'patient', 'cultur', 'proven', 'mycoplasma', 'pneumonia', 'infect', 'king', 'abdulaziz', 'univers', 'hospit', 'jeddah', 'saudi', 'arabia', 'method', 'patient', 'posit', 'pneumonia', 'cultur', 'respiratori', 'specimen', 'januari', 'decemb', 'identifi', 'microbiolog', 'record', 'chart', 'patient', 'review', 'result', 'patient', 'identifi', 'requir', 'admiss', 'infect', 'commun', 'acquir', 'infect', 'affect', 'age', 'group', 'common', 'infant', 'pre', 'school', 'children', 'occur', 'year', 'round', 'common', 'fall', 'spring', 'three', 'quarter', 'patient', 'comorbid', 'twenti', 'four', 'isol', 'associ', 'pneumonia', 'upper', 'respiratori', 'tract', 'infect', 'bronchiol', 'cough', 'fever', 'malais', 'common', 'symptom', 'crepit', 'wheez', 'common', 'sign', 'patient', 'pneumonia', 'crepit', 'bronchial', 'breath', 'immunocompromis', 'patient', 'like', 'non', 'immunocompromis', 'patient', 'present', 'pneumonia', 'versu', 'p', 'patient', 'pneumonia', 'unev', 'recoveri', 'recov', 'follow', 'complic', 'die', 'pneumonia', 'infect', 'die', 'due', 'underli', 'comorbid', 'patient', 'die', 'pneumonia', 'pneumonia', 'comorbid', 'conclus', 'result', 'similar', 'publish', 'data', 'except', 'find', 'infect', 'common', 'infant', 'preschool', 'children', 'mortal', 'rate', 'pneumonia', 'patient', 'comorbid', 'high'], tags=['ug7v899j'])

In [60]:
# Create model and build vocabulary
model = gensim.models.doc2vec.Doc2Vec(vector_size=50, min_count=0, epochs=10)
model.build_vocab(train_corpus)

In [61]:
# Train the model for 10 epochs
for epoch in range(10):
  print(f"epoch {epoch}")
  model.train(train_corpus, total_examples=model.corpus_count, epochs=1)
  checkpoint = f"model_epoch_{epoch}"
  model.save(ckpnt)
  print(f"Saving {checkpoint}")

epoch 0
Saving model_epoch_0
epoch 1
Saving model_epoch_1
epoch 2
Saving model_epoch_2
epoch 3
Saving model_epoch_3
epoch 4
Saving model_epoch_4
epoch 5
Saving model_epoch_5
epoch 6
Saving model_epoch_6
epoch 7
Saving model_epoch_7
epoch 8
Saving model_epoch_8
epoch 9
Saving model_epoch_9

In [62]:
# Calculate document vectors from trained model
def get_doc_vectors():
  for i,id in enumerate(contents.keys()):
    yield model.infer_vector(train_corpus[i].words)

doc_vectors = list(get_doc_vectors())

In [63]:
# Calculate topic vectors
def get_topic_vectors():
  for topic in topics_dict.values():
    yield model.infer_vector(preprocess(topic))

topic_vectors = list(get_topic_vectors())

In [64]:
from sklearn.metrics.pairwise import cosine_similarity

# Calculate cosine similarity between document vectors and topic vectors
sims = cosine_similarity(doc_vectors, topic_vectors)
sims.shape

(191175, 50)

In [65]:
# Turn similarity matrix into dataframe
all_sims = pd.DataFrame(sims, columns=list(np.array(range(50))+1))
all_sims.insert(loc=0, column='doc_id', value=contents.keys())
all_sims

          doc_id         1         2  ...        48        49        50
0       ug7v899j  0.510217  0.290419  ...  0.581618  0.470618 -0.739610
1       02tnwd4m  0.514904  0.223475  ...  0.570414  0.510869 -0.739583
2       ejv2xln0  0.119593 -0.127364  ...  0.059794 -0.033423 -0.304027
3       2b73a28n -0.252970 -0.102425  ... -0.251117 -0.295455  0.299066
4       9785vg6d  0.432292  0.236456  ...  0.415796  0.285103 -0.545125
...          ...       ...       ...  ...       ...       ...       ...
191170  z4ro6lmh  0.370104  0.311163  ...  0.527149  0.387299 -0.516231
191171  hi8k8wvb -0.021561 -0.090377  ...  0.014968  0.225055 -0.057898
191172  ma3ndg41  0.432971  0.218505  ...  0.527068  0.496766 -0.734823
191173  wh10285j  0.539469  0.318638  ...  0.581530  0.416721 -0.655158
191174  pnl9th2c  0.290177  0.218077  ...  0.539643  0.335317 -0.471707

[191175 rows x 51 columns]

In [66]:
# Reshape the dataframe
all_sims = all_sims.melt(
    id_vars=['doc_id'],
    var_name='topic',
    value_name='similarity',
)

all_sims.columns = ['document_id', 'topic', 'similarity']
all_sims

        document_id topic  similarity
0          ug7v899j     1    0.510217
1          02tnwd4m     1    0.514904
2          ejv2xln0     1    0.119593
3          2b73a28n     1   -0.252970
4          9785vg6d     1    0.432292
...             ...   ...         ...
9558745    z4ro6lmh    50   -0.516231
9558746    hi8k8wvb    50   -0.057898
9558747    ma3ndg41    50   -0.734823
9558748    wh10285j    50   -0.655158
9558749    pnl9th2c    50   -0.471707

[9558750 rows x 3 columns]

In [67]:
# Only use document-topic pairs that are present in df_relevances
new_results = pd.merge(all_sims, df_relevances, left_on=['document_id', 'topic'], right_on=['document_id', 'topic'])
del new_results['judgement']
new_results

      document_id topic  similarity
0        sw4wtxdk     1    0.377638
1        6wu024ng     1    0.311055
2        sbxqwfmy     1    0.135647
3        1rhy8td0     1    0.153037
4        t7rxmzvi     1   -0.051768
...           ...   ...         ...
69313    j6y806qu    50    0.165518
69314    bv6xa8v8    50   -0.618492
69315    7g3p570l    50    0.302385
69316    eqfz0wpm    50   -0.667896
69317    qyflkmi9    50   -0.012401

[69318 rows x 3 columns]

In [72]:
# Prepare results for writing to file
# Only take even topics for evaluation
nae = np.array(new_results)
results = []
for i, row in enumerate(nae):
  if not row[1] % 2:
    results.append(f'{row[1]} 0 {row[0]} 0 {row[2]} 0')

In [73]:
results[:10]

['2 0 bbvxu8op 0 -0.022221462801098824 0',
 '2 0 s4y6uxsb 0 0.15705905854701996 0',
 '2 0 1qo1krxv 0 0.3636695146560669 0',
 '2 0 0rq0wdpq 0 -0.00459859287366271 0',
 '2 0 1rzcrkmt 0 0.16667301952838898 0',
 '2 0 gbdaad4l 0 -0.02000168338418007 0',
 '2 0 h3yxymh3 0 0.2522464692592621 0',
 '2 0 ni6iyzdn 0 0.11236879229545593 0',
 '2 0 1rhy8td0 0 0.24380475282669067 0',
 '2 0 yci0a6bt 0 0.00887655932456255 0']

In [74]:
# Write results to file
with open('results_gensim.txt', 'w') as f:
    f.write('\n'.join(results))